mixin head
  head
    meta(charset='utf-8')
    block title
      title Mon site web
    link(rel='icon' type='image/png' href='[[TIKUI_BASEPATH]]favicon.png')
    link(href='[[TIKUI_BASEPATH]]tikui.css' rel='stylesheet')

